/*
0000000     0000000   00000000   000   000  
000   000  000   000  000   000  000  000   
000   000  000000000  0000000    0000000    
000   000  000   000  000   000  000  000   
0000000    000   000  000   000  000   000  
*/
body {
  background: #181818;
  color: #fff;
}
#main {
  border-left: 6px solid #111;
  border-right: 6px solid #111;
  border-bottom: 6px solid #111;
  background: #181818;
}
#titlebar {
  background: #111;
}
.titlebar-name {
  color: #999;
}
.titlebar-version {
  color: #444;
}
.titlebar-dot {
  color: #333;
}
#titlebar .winbutton:active {
  background-color: #f00;
}
#titlebar .winbutton:active.gray {
  background-color: #333;
}
#titlebar .winbutton.gray {
  color: #666;
}
#titlebar .winbutton svg {
  stroke-width: 1px;
  stroke: #666;
}
#titlebar .winbutton.gray:active {
  color: #fff;
}
#titlebar .winbutton:active svg {
  stroke: #fff;
}
#titlebar .winbutton.gray:hover {
  color: #fff;
}
#titlebar .winbutton:hover svg {
  stroke: #fff;
}
.menuItem {
  color: #666;
  background-color: #111;
}
.menuItem.selected {
  color: #999;
}
.menu:focus .menuItem.selected {
  color: #fff;
}
.popup {
  background-color: #111;
}
.popupWindow {
  background-color: #111;
}
.popupItem {
  color: #666;
}
.popupItem:not(:last-child) {
  border-bottom: 1px solid #111;
}
.popupItem.selected {
  color: #fff;
}
.popupItem.selected .popupCombo {
  color: #666;
}
.popupItem.separator {
  border-top: 1px solid #333;
}
.popupItem:not(:last-child) {
  border-bottom: 1px solid #111;
}
.popupCombo {
  color: #333;
}
::-webkit-scrollbar-corner {
  background-color: #111;
}
::-webkit-scrollbar-thumb {
  background-color: #444;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #b00;
}
