doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title kiki
        link(rel='stylesheet' href='css/style.css'  type='text/css')
        script(src='./node_modules/three/build/three.js')
    body
        .stage(tabindex="0")
    script.
        require('./js/window.js')
