/*
0000000     0000000   00000000   000   000  
000   000  000   000  000   000  000  000   
000   000  000000000  0000000    0000000    
000   000  000   000  000   000  000  000   
0000000    000   000  000   000  000   000  
*/

bgColor             = #181818
frameColor          = #111111
scrollHoverColor    = #b00
titleRedColor       = #f00
titleColor          = #333
scrollColor         = #444
textBlurColor       = #666
textActiveColor     = #999
textFocusColor      = #fff

frameWidth          = 6px
frameBorder         = frameWidth solid frameColor

// 0000000     0000000   0000000    000   000  
// 000   000  000   000  000   000   000 000   
// 0000000    000   000  000   000    00000    
// 000   000  000   000  000   000     000     
// 0000000     0000000   0000000       000     

body
    background          bgColor
    color               textFocusColor

// 00     00   0000000   000  000   000  
// 000   000  000   000  000  0000  000  
// 000000000  000000000  000  000 0 000  
// 000 0 000  000   000  000  000  0000  
// 000   000  000   000  000  000   000  

#main
    border-left         frameBorder
    border-right        frameBorder
    border-bottom       frameBorder
    background          bgColor

// 000000000  000  000000000  000      00000000  0000000     0000000   00000000   
//    000     000     000     000      000       000   000  000   000  000   000  
//    000     000     000     000      0000000   0000000    000000000  0000000    
//    000     000     000     000      000       000   000  000   000  000   000  
//    000     000     000     0000000  00000000  0000000    000   000  000   000  

#titlebar
    background          frameColor

.titlebar-name
    color               textActiveColor

.titlebar-version
    color               scrollColor

.titlebar-dot
    color               titleColor

#titlebar .winbutton
    &:active
        background-color titleRedColor
        &.gray
            background-color titleColor

#titlebar .winbutton.gray
    color              textBlurColor   
#titlebar .winbutton svg
    stroke-width        1px
    stroke              textBlurColor   
    
#titlebar .winbutton.gray:active
    color               textFocusColor
#titlebar .winbutton:active svg    
    stroke              textFocusColor
    
#titlebar .winbutton.gray:hover    
    color              textFocusColor
#titlebar .winbutton:hover svg    
    stroke              textFocusColor
        
// 00     00  00000000  000   000  000   000  
// 000   000  000       0000  000  000   000  
// 000000000  0000000   000 0 000  000   000  
// 000 0 000  000       000  0000  000   000  
// 000   000  00000000  000   000   0000000   
            
.menuItem
    color               textBlurColor
    background-color    frameColor
    
.menuItem.selected
    color               textActiveColor
    
.menu:focus .menuItem.selected
    color               textFocusColor
    
// 00000000    0000000   00000000   000   000  00000000
// 000   000  000   000  000   000  000   000  000   000
// 00000000   000   000  00000000   000   000  00000000
// 000        000   000  000        000   000  000
// 000         0000000   000         0000000   000

.popup
    background-color    frameColor

.popupWindow
    background-color    frameColor

.popupItem
    color               textBlurColor
    &:not(:last-child)
        border-bottom   1px solid frameColor
    &.selected
        color           textFocusColor
        & .popupCombo
            color       textBlurColor
    &.separator
        border-top      1px solid titleColor
    &:not(:last-child)
        border-bottom   1px solid frameColor

.popupCombo
    color               titleColor
    
//  0000000   0000000  00000000    0000000   000      000     
// 000       000       000   000  000   000  000      000     
// 0000000   000       0000000    000   000  000      000     
//      000  000       000   000  000   000  000      000     
// 0000000    0000000  000   000   0000000   0000000  0000000 

::-webkit-scrollbar-corner
    background-color        frameColor

::-webkit-scrollbar-thumb
    background-color        scrollColor
    
::-webkit-scrollbar-thumb:hover
    background-color        scrollHoverColor

    